HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### DB ###
/db
/db/base
/db/base/1
/db/global
/db/pg_commit_ts
/db/pg_twophase
/db/pg_logical
/db/pg_multixact
/db/pg_subtrans
/db/pg_wal
/db/pg_wal/000000010000000000000002
/db/pg_xact
/db/postgresql.auto.conf
/db/postgresql.conf
/db/postmaster.opts
